<!-- templates/homepage.html -->

{% extends 'base.html' %}
{% block content %}
<div>
<div class="row">
    <div class="col" style="height: 470px;">
        <div style="margin: 50px;">
            <h2 style="font-weight: normal;">Ξαναχρησιμοποίησε το μπουκάλι σου και κέρδισε.</h2>
        </div>
        <div style="margin: 50px;">
            <button type="button" class="btn btn-primary btn-lg" style="background-color: #F18D0F; color: white;">Σκάναρε το tag</button>
        </div>
    </div>
    <div class="col" style="border: 1px solid; background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg');">
    </div>
</div>
<div class="row" style="background-color: #f3f4f5;">
    <div class="col" style="height: 172px;">
    </div>
</div>
</div>
{% endblock content %}