<!-- templates/homepage.html -->

{% extends 'base.html' %}
{% block content %}
<div id="setTimeout()">
<div class="row">
    <div class="col" style="height: 470px;">
        <div style="margin: 50px;">
            <h2 id="title" style="font-weight: normal;">Αναμονή για QR…</h2>
        </div>

        <h5 style="font-weight: normal; margin-left: 300px; margin-top: 200px;"> Did you know? </h5>
        <div class="carousel" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner" >
                <div class="carousel-item active text-center p-4">
                     <h6 style="font-weight: normal;" >Plastic bottles require up to 700 years to dissolve.</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <h6 style="font-weight: normal;" >90% of the cost of bottled water is the bottle itself.</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <h6 style="font-weight: normal;" >24,000,000 liters of oil is needed to produce these billions of plastic bottles.</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <h6 style="font-weight: normal;" >Bottling water and shipping transport is the least energy efficient method of water supply in the history of mankind.</h6>
               </div>
               <div class="carousel-item text-center p-4">
                   <h6 style="font-weight: normal;" >38 million plastic bottles go to landfill each year in America alone.</h6>
               </div>
               <div class="carousel-item text-center p-4">
                   <h6 style="font-weight: normal;" >24,000,000 liters of oil is needed to produce these billions of plastic bottles.</h6>
               </div>
            </div>
        </div>
    </div>
    <div class="col" style="border-left: 5px solid; background-image: url('../static/img/HomePic.jpg'); background-size: cover;">
    </div>
</div>
<div class="row" style="background-color: #f3f4f5;">
    <div class="col" style="height: 172px;">
    </div>
</div>
</div>
<script>
    setTimeout(function(){
        window.location.href = '/UX3';
    }, 5000);
</script>
{% endblock content %}