<!-- templates/homepage.html -->

{% extends 'base.html' %}
{% block content %}
<div id="setTimeout()">
<div class="row">
    <div class="col" style="height: 470px;">
        <div style="margin: 50px;">
            <h2 style="font-weight: normal;">Επεξεργασία…</h2>
        </div>

        <h5 style="font-weight: normal; margin-left: 300px; margin-top: 200px;"> Did you know? </h5>
        <div class="carousel" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner" >
                <div class="carousel-item active text-center p-4">
                     <h6 style="font-weight: normal;" >Bottling water and shipping transport is the least energy efficient method of water supply in the history of mankind.</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <h6 style="font-weight: normal;" >38 million plastic bottles go to landfill each year in America alone.</h6>
                </div>
                <div class="carousel-item text-center p-4">
                    <h6 style="font-weight: normal;" >24,000,000 liters of oil is needed to produce these billions of plastic bottles.</h6>
                </div>
            </div>
        </div>

    </div>
    <div class="col" style="border-left: 5px solid; background-image: url('../static/img/HomePic.jpg'); background-size: cover;">
    </div>
</div>
<div class="row" style="background-color: #f3f4f5;">
    <div class="col" style="height: 172px;">
        <h4 style="font-weight: normal; margin-top: 20px;margin-left: 40px;">Εξαργύρωσε τους πόντους με όποιον τρόπο θες</h4>
        <div class="row">
            <div class="col-2" style="margin: 20px; margin-left: 80px;">
                <div style="background-image: url('../static/img/logo1.png'); background-size: contain; width: 190px; height: 50px;">
                </div>
            </div>
            <div class="col-2">
                <div style="background-image: url('../static/img/Lidl.png'); background-size: contain; width: 100px; height: 100px;">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    setTimeout(function(){
        window.location.href = '/UX4';
    }, 5000);
</script>
{% endblock content %}